/* Font-face definitions */
@font-face {
  font-family: "Plain Light";
  src: url(/demo/Fonts/plain-light-webfont.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Plain Light";
  src: url(/demo/Fonts/plain-regular-webfont.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Silk Serif";
  src: url(/demo/Fonts/silkserif-lightitalic-webfont.ttf);
  font-display: swap;
}
@font-face {
  font-family: "Silk Serif";
  src: url(/demo/Fonts/silkserif-regularitalic-webfont.ttf);
  font-display: swap;
}

/* Global styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Plain Light";
}

html,
body {
  height: 100%;
  width: 100%;
}

/* Loader styles */
#loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background-color: #0b0b0b;
  color: #ebebeb;
  padding: 6.5vw 9vw;
}

#loader .line {
  display: flex;
  align-items: center;
  gap: 1.5vw;
  height: fit-content;
  overflow-y: hidden;
}

#line #time_count {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#time_count h5,
#time_count h6 {
  font-size: 3.5vw;
  font-weight: 100;
  font-family: "Silk Serif";
}

#time_count h5 {
  width: 7vw;
  text-align: right;
}

#line > h1 {
  font-size: 7vw;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#line h2 {
  font-size: 7vw;
  -webkit-text-stroke: 0.1vw #fff;
  font-family: "Silk Serif";
  font-weight: 100;
  color: transparent;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  animation: anime_1 1.5s infinite linear;
}

@keyframes anime_1 {
  0%,
  100% {
    -webkit-text-stroke: 0.1vw #fff;
    font-family: "Silk Serif";
    color: transparent;
  }
  48% {
    color: transparent;
  }
  50% {
    color: #fff;
  }
}

/* Main container styles */
#main {
  width: 100%;
  background-color: #050505;
  position: relative;
  overflow: hidden;
}

#page1 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
}

/* Navbar styles */
#navbar {
  width: 100%;
  font-size: 1.1vw;
  display: flex;
  justify-content: space-between;
  padding: 9.5vh 0;
  padding-left: 9.5vw;
  padding-right: 5.3vw;
}

#navbar #navbar_prt2 {
  display: flex;
  align-items: center;
  overflow: hidden;
}

#navbar_prt2 a {
  display: inline-block;
  text-decoration: none;
  margin-left: 2.7vw;
}

/* Hero section styles */
#page1 .hero {
  text-transform: uppercase;
  width: 72%;
  margin-left: 28%;
  overflow: hidden;
  position: relative;
  z-index: 99;
}

.hero:nth-child(2) {
  margin-top: 12vh;
}

.hero > h1 {
  font-size: 7vw;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.15vw;
}

/* Hero section number styling */
#page1::before {
  content: "01";
  font-weight: 300;
  font-size: 3vw;
  font-family: "Silk Serif";
  position: absolute;
  top: 17%;
  left: 21.2%;
}

/* Flow section styles */
.hero .flow {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 99;
  width: fit-content;
}

#flag {
  height: 45vh;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.flow h2 {
  font-size: 7vw;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.15vw;
}

h2:nth-child(1),
h2:nth-child(3) {
  border-bottom: 0.5vw solid #fff;
}

h2:nth-child(1):hover,
h2:nth-child(3):hover {
  border-bottom: 0.5vw solid rgba(255, 255, 255, 0.04);
  -webkit-text-stroke: 0.04vw #fff;
  font-weight: 100;
  color: transparent;
}

h2:nth-child(2) {
  margin-left: 0.7vw;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* Page 2 Styles */
#page2 {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #151515;
  padding: 15vh 0;
}

#video_container {
  position: relative;
  height: 70vh;
  width: 71vw;
  left: 28%;
  background: url("./Assets/obys_bg_img_of_video.webp") center/cover no-repeat;
}

#video_container > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0;
}

#video_cursur {
  position: absolute;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vw;
  width: 9vw;
  border-radius: 50%;
  background-color: #ffa63d;
  left: 70%;
  top: -10vh;
}

#video_cursur i {
  font-size: 1.5vw;
}

/* Page 3 Styles */
#page3 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 3.5vw 3vw;
  background-color: #151515;
}

#p_3text {
  position: relative;
  width: 76%;
  left: 26%;
}

#p_3text h1 {
  font-size: 7.5vw;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

#p_3text h1::before {
  content: "02";
  font-weight: 300;
  font-size: 3.4vw;
  font-family: "Silk Serif";
  position: absolute;
  left: -9.5%;
  top: 5%;
}

#p_3text .underline {
  height: 0.06vw;
  width: 100%;
  background-color: #fff;
  margin: 2.62vw 0;
}

#image_div_container {
  padding: 1.5vw;
  padding-bottom: 0;
  position: relative;
  margin-top: 14.06vw;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#image_div_container .img_txt {
  position: relative;
  height: 48vw;
  width: 24vw;
  overflow: hidden;
  margin: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1.2vw;
}

.img_txt > .underline {
  height: 0.1vw;
  width: 100%;
  background-color: #fff;
}

#image_div_container > #img_txt_2 {
  height: 60vw;
  width: 30vw;
  gap: 1.66vw;
}

#image_div_container > #img_txt_3 {
  margin-top: 6.6vw;
  margin-left: 4vw;
  margin-right: 1.5vw;
  height: 63vw;
  width: 29vw;
  gap: 2.2vw;
}

#image_div_container > #img_txt_4 {
  margin-top: -3.5vw;
  height: 63vw;
  width: 30vw;
  gap: 2.2vw;
}

#image_div_container > #img_txt_5 {
  margin-top: -11vw;
  margin-right: 8vw;
}

#image_div_container > #img_txt_6 {
  height: 63vw;
  width: 30vw;
}

.img_txt > h1 {
  text-transform: uppercase;
}

.img_txt .img_txt_btm_prt {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.img_txt_btm_prt p {
  width: 60%;
  font-size: 1.3vw;
  font-weight: 500;
  letter-spacing: -0.05vw;
}

.imgdiv {
  position: relative;
  height: 72%;
  width: 100%;
  overflow: hidden;
}

.imgdiv img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.page3_circle {
  height: 23.5vw;
  width: 23.5vw;
  border: 0.2vw solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.circle_in {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 3vw;
  transform: scale(0);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.circle_in p {
  font-size: 1vw;
  color: #000;
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease;
  transition-delay: 0.3s;
}

#page3_circle_1:hover .circle_in,
#page3_circle_2:hover .circle_in,
#page3_circle_3:hover .circle_in {
  transform: scale(1);
}

#page3_circle_1:hover p,
#page3_circle_2:hover p,
#page3_circle_3:hover p {
  transform: scale(1);
  opacity: 1;
}

#page3_circle_1 {
  margin-top: 26vw;
  margin-left: 8vw;
}

#page3_circle_1 > .button__arrow {
  height: 33%;
}

#page3_circle_2 {
  margin-top: -3.4vw;
}

#page3_circle_2 > .button__arrow {
  height: 33%;
  transform: rotate(-45deg);
}

#page3_circle_3 {
  margin-top: 26vw;
  margin-right: 1vw;
}

#page3_circle_3 > .button__arrow {
  height: 33%;
  transform: rotate(-90deg);
}

/* Bottom Circle Container */
#btm_circle_container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btm_circle {
  height: 24vw;
  width: 24vw;
  background-color: #ffa63d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: all 0.3s ease;
}

.btm_circle p {
  font-size: 1.2vw;
  font-weight: 600;
  transform: scale(1);
}

.btm_circle p span {
  font-size: 1.3vw;
  font-weight: 500;
  font-family: "Silk Serif";
  margin-left: 0.4vw;
  transform: scale(1);
}

.btm_circle:hover {
  transform: scale(0.9);
}

#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
}

#page4 #page4_main_container {
  position: relative;
  height: 100%;
  width: 78.5%;
  left: 27.5%;
}

#page4_main_container h1 {
  font-size: 7.5vw;
  text-transform: uppercase;
  margin-bottom: 5vh;
  position: relative;
}

#page4_main_container h1::before {
  content: "03";
  font-weight: 300;
  font-size: 3.4vw;
  font-family: "Silk Serif";
  position: absolute;
  left: -9%;
  top: 0.4%;
}

#page4_main_container > .underline,
#blue_div > .underline {
  height: 0.1vw;
  background-color: #fff;
}

#page4_main_container > .underline2 {
  position: relative;
  top: -10vh;
  width: 84%;
  background-color: #ffffff97;
}

#page4_main_container > p {
  margin-top: 5.6vw;
  font-size: 2.55vw;
  width: 46%;
  letter-spacing: -0.02vw;
  line-height: 1.15;
}

#page4_main_container > #pg_4_img_txt {
  height: 95vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  gap: 2.5vw;
  margin: 12vh 0;
}

#pg_4_img_txt > img {
  height: 100%;
  width: 41.5%;
  object-fit: cover;
}

#pg_4_img_txt > p {
  position: relative;
  top: -1.1%;
  font-size: 1.19vw;
  width: 27.5%;
  letter-spacing: -0.01vw;
  font-weight: 500;
  line-height: 1.48;
}

#blue_div {
  position: relative;
  top: -15.2vw;
  left: 23vw;
  background-color: #3f7df4;
  padding: 10vh 4vw;
  display: flex;
  flex-direction: column;
  gap: 2.3vw;
}

#blue_div .blue_elm {
  display: flex;
  align-items: center;
  gap: 3vw;
}

#blue_div .blue_elm h4 {
  font-size: 1.6vw;
  width: 11vw;
  font-weight: 500;
  letter-spacing: -0.1vw;
}

#blue_div .blue_elm p {
  font-size: 1vw;
  width: 16vw;
  letter-spacing: -0.05vw;
}

#btm_part {
  margin-top: 8.7vw;
  padding-bottom: 8.7vw;
}

#btm_part .elm,
#btm_part .elm2 {
  white-space: nowrap;
  overflow: hidden;
}

.elm h1,
.elm2 h1 {
  font-size: 8vw;
  font-weight: 100;
  color: transparent;
  -webkit-text-stroke: 0.1vw #fff;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 1.5vw;
  line-height: 1;
}

.elm h1 {
  animation: scroll 25s linear infinite;
}

.elm2 h1 {
  animation: scroll 25s linear infinite reverse;
}

.elm h1 span,
.elm2 h1 span {
  font-family: "Silk Serif";
  font-weight: 100;
  color: transparent;
  -webkit-text-stroke: 0.1vw #fff;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

#footer {
  min-height: 100vh;
  width: 100%;
  padding-left: 28%;
  background-color: #151515;
}

#footer #entry_title {
  display: flex;
  align-items: center;
  height: 7vw;
  width: 80vw;
  justify-content: space-between;
}

#entry_title h1 {
  font-size: 7.2vw;
  text-transform: uppercase;
  font-weight: 600;
  width: 60vw;
}

#entry_title > svg {
  width: 5vw;
  position: relative;
  left: -25vw;
}

#entry_title h1:hover {
  animation: swip 1s forwards;
}

@keyframes swip {
  from {
    font-family: "Plain Light";
    text-stroke: none;
    color: #fff;
    font-weight: 600;
  }
  to {
    font-family: "Silk Serif";
    text-stroke: 0.1vw #fff;
    color: transparent;
    font-weight: 100;
  }
}

#entry_title::before {
  content: "04";
  font-weight: 100;
  font-size: 3vw;
  font-family: "Silk Serif";
  position: absolute;
  left: -8%;
  top: -8%;
}

#footer > .underline {
  height: 0.1vw;
  background-color: #ffffffa6;
  width: 92%;
  margin: 1.8vw 0;
}

#footer-div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 12%;
}

#footer-div .box {
  width: 26%;
  margin-top: 1vw;
  margin-bottom: 3.9vw;
}

#footer-div h6 {
  font-size: 1.22vw;
  font-weight: 500;
  margin-bottom: 2.4vw;
}

#footer-div h5 {
  font-size: 1.91vw;
  font-weight: 500;
  line-height: 1.1;
}

#footer > h4 {
  font-weight: 500;
  margin-top: 2.6vw;
}

._canvas_container {
  z-index: 9999 !important;
  pointer-events: none;
}

@media (max-width: 600px) {
  #loader {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 99999 !important;
    background-color: #0b0b0b;
    color: #ebebeb;
    padding: 60vw 9vw;
  }

  #loader .line {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    height: fit-content;
    overflow: hidden;
  }

  .line #time_count {
    display: flex;
    align-items: center;
    gap: 1vw;
  }

  #time_count h5,
  #time_count h6 {
    font-size: 3.5vw;
    font-weight: 100;
    font-family: "Silk Serif";
  }

  #time_count h5 {
    width: fit-content;
    text-align: right;
  }

  .line > h1 {
    font-size: 6.7vw;
    line-height: 1;
    letter-spacing: 1;
    text-transform: uppercase;
  }

  .line h2 {
    position: relative;
    top: -8.2vw;
    left: 61vw;
    font-size: 6.7vw;
    -webkit-text-stroke: 0.1vw #fff;
    font-family: "Silk Serif";
    font-weight: 100;
    color: transparent;
    line-height: 1;
    letter-spacing: 1;
    text-transform: uppercase;
    animation: anime_1 1.5s infinite linear;
  }

  @keyframes anime_1 {
    0% {
      -webkit-text-stroke: 0.1vw #fff;
      font-family: "Plain Light";
      color: #fff;
    }
    48% {
      -webkit-text-stroke: 0.1vw #fff;
      font-family: "Plain Light";
      color: transparent;
    }
    50% {
      -webkit-text-stroke: 0.1vw #fff;
      font-family: "Silk Serif";
      color: #fff;
    }
    100% {
      -webkit-text-stroke: 0.1vw #fff;
      font-family: "Silk Serif";
      color: transparent;
    }
  }

  #main {
    width: 100%;
    background-color: #050505;
    position: relative;
    overflow: hidden;
  }

  #page1 {
    position: relative;
    min-height: 50vh;
    width: 100%;
    background-color: #151515;
    padding-top: 1px;
  }

  #navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    font-size: 1.1vw;
    padding: 5.5vw 4vw;
    position: fixed;
    top: 0%;
  }

  #navbar > .brand__ {
    transform: scale(0.85);
  }

  #navbar #navbar_prt2 {
    display: none;
  }

  #page1 .hero {
    text-transform: uppercase;
    width: 100%;
    margin-left: 6%;
    overflow: hidden;
    position: relative;
    z-index: 99;
  }

  .hero:nth-child(2) {
    margin-top: 25.5vh;
  }

  .hero > h1 {
    font-size: 9.5vw;
    font-weight: 600;
    line-height: 1.07;
    letter-spacing: -0.17vw;
  }

  #page1::before {
    content: "01";
    font-weight: 500;
    font-size: 5vw;
    font-family: "Silk Serif";
    position: absolute;
    top: 16.5%;
    left: 6%;
    letter-spacing: -0.1vw;
  }

  .hero .flow {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 99;
    width: fit-content;
    overflow: hidden;
  }

  #flag {
    height: 45vh;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: none;
  }

  .flow h2 {
    font-size: 9.5vw;
    font-weight: 600;
    line-height: 1.07;
    letter-spacing: -0.17vw;
  }

  h2:nth-child(1),
  h2:nth-child(3) {
    border-bottom: 0.8vw solid #fff;
  }

  h2:nth-child(1):hover,
  h2:nth-child(3):hover {
    border-bottom: 0.5vw solid rgba(255, 255, 255, 0.04);
    -webkit-text-stroke: 0.04vw #fff;
    font-weight: 100;
    color: transparent;
  }

  h2:nth-child(2) {
    margin-left: 0.2vw;
  }

  #page2 {
    position: relative;
    width: 100%;
    height: 80vh;
    background-color: #151515;
  }

  #page2 #video_container {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("./Assets/obys_bg_img_of_video.webp");
    background-position: center;
    background-size: cover;
  }

  #video_container > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
  }

  #video_cursur {
    position: absolute;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26vw;
    width: 26vw;
    border-radius: 50%;
    background-color: #ffa63d;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #video_cursur i {
    font-size: 5vw;
  }
}
/* General Styles for Page 3 */
#page3 {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 1.5vh 3vw;
  background-color: #151515;
}

/* Text container styles */
#page3 #p_3text {
  position: relative;
  width: 94%;
  left: 3%;
}

#p_3text h1 {
  font-size: 9.5vw;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

#p_3text h1::before {
  content: "02";
  font-weight: 300;
  font-size: 5vw;
  font-family: "Silk Serif";
  position: absolute;
  left: 0%;
  top: -44%;
}

/* Underline for heading */
#p_3text .underline {
  height: 0.4vw;
  width: 100%;
  background-color: #fff;
  margin-top: 8vw;
}

/* Container for image and text */
#image_div_container {
  position: relative;
  padding: 1vw;
  margin-top: 13vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

/* Individual text block */
#image_div_container .img_txt {
  position: relative;
  height: 180vw;
  width: 90vw;
  overflow: hidden;
  margin: 0vw;
  display: flex;
  flex-direction: column;
  gap: 8vw;
}

/* Underline within text block */
.img_txt > .underline {
  position: relative;
  left: 2%;
  height: 0.3vw;
  width: 96%;
  background-color: #fff;
}

/* Heading styles within text block */
.img_txt > h1 {
  text-transform: none;
  font-size: 5.5vw;
  position: relative;
  left: 0%;
}

/* Bottom part of text block */
.img_txt .img_txt_btm_prt {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 3vw;
}

.img_txt_btm_prt p {
  width: 60%;
  font-size: 4vw;
  font-weight: 500;
  letter-spacing: -0.05vw;
}

/* Image container styles */
.imgdiv {
  position: relative;
  height: 70%;
  width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}

.imgdiv img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Circle styles */
.page3_circle {
  height: 23.5vw;
  width: 23.5vw;
  border: 0.2vw solid #fff;
  border-radius: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.circle_in {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #fff;
  padding: 3vw;
  scale: 0;
  border-radius: 50%;
  transform: all ease 0.3s;
  transition-duration: 0.1s;
}

.circle_in p {
  display: none;
  font-size: 1vw;
  color: #000;
  opacity: 0;
  scale: 0;
  transform: all ease 0.3s;
  transition-duration: 0.1s;
  transition-delay: 0.3s;
}

/* Hover effects for circles */
#page3_circle_1:hover .circle_in,
#page3_circle_2:hover .circle_in,
#page3_circle_3:hover .circle_in {
  scale: 1;
}

#page3_circle_1:hover p,
#page3_circle_2:hover p,
#page3_circle_3:hover p {
  scale: 1;
  opacity: 1;
}

/* Specific circle positioning */
#page3_circle_1 {
  margin-top: 60vh;
  margin-left: 8vw;
}

#page3_circle_1 > .button__arrow {
  height: 33%;
}

#page3_circle_2 {
  margin-top: -8vh;
}

#page3_circle_2 > .button__arrow {
  height: 33%;
  transform: rotate(-45deg);
}

#page3_circle_3 {
  margin-top: 60vh;
  margin-right: 1vw;
}

#page3_circle_3 > .button__arrow {
  height: 33%;
  transform: rotate(-90deg);
}

/* Bottom circle container */
#btm_circle_container {
  height: 25vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Bottom circle styles */
.btm_circle {
  height: 42vw;
  width: 42vw;
  background-color: #ffa63d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1;
  transition: all ease 0.3s;
}

.btm_circle p {
  font-size: 3.8vw;
  font-weight: 600;
}

.btm_circle p span {
  font-size: 3.8vw;
  font-weight: 500;
  font-family: "Silk Serif";
  margin-left: 1vw;
}

.btm_circle:hover {
  scale: 1.1;
}
/* Page 4 Styles */
#page4 {
  min-height: 100vh;
  width: 100%;
  background-color: #151515;
  padding-top: 33vw;
}

/* Main container within page 4 */
#page4 #page4_main_container {
  position: relative;
  height: 100%;
  width: 90%;
  left: 5%;
}

/* Heading styles within main container */
#page4_main_container h1 {
  font-size: 9.3vw;
  text-transform: uppercase;
  margin-bottom: 3vh;
}

/* Prefix content before heading */
#page4_main_container h1::before {
  content: "03";
  font-weight: 300;
  font-size: 4.8vw;
  font-family: "Silk Serif";
  position: absolute;
  left: 0.15%;
  top: -2%;
}

/* Underline styles within main container */
#page4_main_container > .underline,
#page4_main_container > .underline2 {
  height: 0.3vw;
  width: 100%;
}

#page4_main_container > .underline {
  background-color: #fff;
}

#page4_main_container > .underline2 {
  position: relative;
  top: -5vw;
  background-color: #ffffff97;
}

/* Paragraph styles within main container */
#page4_main_container > p {
  margin-top: 7.5vh;
  font-size: 6vw;
  letter-spacing: -0.02vw;
  line-height: 1.18;
  font-weight: 300;
}

/* Image and text container */
#page4_main_container > #pg_4_img_txt {
  height: 96vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column-reverse;
  margin: 2.1vw 0;
  margin-top: 15vw;
}

/* Image styling */
#pg_4_img_txt > img {
  height: 68%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/* Paragraph styling within image and text container */
#pg_4_img_txt > p {
  position: relative;
  top: -1.1%;
  font-size: 3.8vw;
  width: 80%;
  letter-spacing: -0.01vw;
  font-weight: 500;
  line-height: 1.4;
}

/* Blue div container */
#blue_div {
  position: relative;
  top: -9vw;
  background-color: #3f7df4;
  padding: 10vw 5vw 4vw;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5vw;
  margin-bottom: 19vw;
}

/* Underline styles within blue div */
#blue_div > .underline {
  height: 1vw;
  width: 100vw;
  background-color: #fff;
}

/* Elements within blue div */
#blue_div .blue_elm {
  display: flex;
  align-items: flex-start;
  gap: 6vw;
}

/* Additional underline within blue div (adjusted height) */
#blue_div .underline {
  height: 0.1vw;
  background-color: #ffffff9f;
}

/* Heading and paragraph styles within blue elements */
.blue_elm h4 {
  font-size: 4vw;
  width: 31vw;
  font-weight: 500;
  letter-spacing: -0.1vw;
  line-height: 1;
}

.blue_elm p {
  font-size: 3.8vw;
  width: 43vw;
  letter-spacing: -0.05vw;
}

/* Bottom part styles */
#btm_part {
  margin-top: 13vw;
  padding-bottom: 20vh;
}

/* Elms in bottom part with nowrap */
#btm_part .elm,
#btm_part .elm2 {
  white-space: nowrap;
  overflow: hidden;
}

/* Scrolling text styles */
.elm h1,
.elm2 h1 {
  font-size: 10.5vw;
  font-weight: 100;
  color: transparent;
  -webkit-text-stroke: 0.2vw #fff;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 1.5vw;
  line-height: 1.1;
}

.elm h1 {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
}

.elm2 h1 {
  animation: scroll 40s linear infinite reverse;
}

/* Scrolling text span styling */
.elm h1 span,
.elm2 h1 span {
  font-family: "Silk Serif";
  font-weight: 100;
  color: transparent;
  -webkit-text-stroke: 0.2vw #fff;
}

/* Keyframes for scrolling animation */
@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - 20px));
    transform: translateX(calc(-100% - 20px));
  }
}

/* Footer Styles */
#footer {
  min-height: 100vh;
  width: 100%;
  padding-left: 5%;
  background-color: #151515;
  padding-bottom: 10vw;
}

/* Title section within footer */
#footer #entry_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vw;
  width: 80vw;
  margin-bottom: 12vw;
}

/* Heading within entry title */
#entry_title h1 {
  font-size: 10.5vw;
  text-transform: uppercase;
  font-weight: 600;
  width: 70vw;
  letter-spacing: -0.1vw;
  position: relative;
}

/* SVG icon within entry title */
#entry_title > svg {
  width: 9vw;
}

/* Keyframes for text animation */
@-webkit-keyframes swip {
  from {
    font-family: "Plain Light";
    -webkit-text-stroke: none;
    color: #fff;
    font-weight: 600;
  }
  to {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.1vw #fff;
    color: transparent;
    font-weight: 100;
  }
}

@keyframes swip {
  from {
    font-family: "Plain Light";
    -webkit-text-stroke: none;
    color: #fff;
    font-weight: 600;
  }
  to {
    font-family: "Silk Serif";
    -webkit-text-stroke: 0.1vw #fff;
    color: transparent;
    font-weight: 100;
  }
}

/* Hover effect for heading animation */
#entry_title h1:hover {
  -webkit-animation: swip 1s forwards;
  animation: swip 1s forwards; /* Adjust duration as needed */
}

/* Prefix content before heading */
#entry_title::before {
  content: "04";
  font-weight: 300;
  font-size: 5vw;
  font-family: "Silk Serif";
  position: absolute;
  left: 0%;
  top: -10vw;
}

/* Underline element in footer */
#footer > .underline {
  height: 0.4vw;
  background-color: #ffffffa6;
  width: 94%;
  margin-top: 10vw;
  margin-bottom: 5vw;
}

/* Footer content container */
#footer-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 0%;
}

/* Box within footer content container */
#footer-div .box {
  width: 53%;
  margin-top: 7vw;
  margin-bottom: 2.8vw;
}

/* Heading styles within footer content */
#footer-div h6 {
  font-size: 4.3vw;
  font-weight: 600;
  margin-bottom: 4vw;
}

#footer-div h5 {
  font-size: 5.8vw;
  font-weight: 100;
  line-height: 1.07;
}

/* Footer general heading */
#footer > h4 {
  font-weight: 500;
}
